<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
    <contextName>laomn</contextName>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- 目标是控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>


     <appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/root/ruqing/web/laomn/log/laomn.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/root/ruqing/web/laomn/log/laomn_%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

    <!--     <root level="INFO"> -->
    <!--         <appender-ref ref="STDOUT" /> -->
    <!--         <appender-ref ref="FILE" /> -->
    <!--     </root> -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="com.laomn" level="INFO" />
    <logger name="redis.clients.jedis" level="INFO" />
    <logger name="org.apache.commons.beanutils" level="INFO" />
    <logger name="org.apache.activemq" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />

</configuration>